.btn {
  border-radius: 50px;
  &-outline-secondary {
    border-color: $orange;
    color: $white;
    &:hover {
      color: $white;
      border-color: $orange;
      background-color: $orange;
    }
  }
  &-secondary {
    border-color: $orange;
    background-color: $orange;
    color: $white;
    &:hover {
      font-weight: 500;
      border-color: $orange;
      background-color: $orange;
      transform: translate3d(1px, 1px, 0);
    }
  }
}
