footer {
  min-height: 180px;
  background-color: $green;
  width: 100%;
  position: relative;

  & .certifications {
    position: absolute;
    left: 4rem;
    top: -40px;
    & img {
      height: 80px;
    }
  }
}
