.ktrv-hero {
  position: relative;
  background-image: url("/assets/images/hanson-lu-hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;
  min-height: 680px;
  margin-bottom: 0;
  &::after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: $green-gradient;
  }
  & * {
    position: relative;
    z-index: 1;
  }
  & h1 {
    font-weight: 500;
    margin-bottom: $spacing-xs;
  }
  & .ktrv-subtitle {
    font-weight: 300;
    margin-bottom: $spacing-xs;
    & b {
      font-weight: 500;
    }
  }
  & .ktrv-call {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: $spacing-small;
    & .ktrv-number-wrapper {
      width: 66%;
      border-bottom: 1px solid $orange;
      display: flex;
      justify-content: flex-end;
      & .phone-number {
        font-size: 2rem;
        color: $white;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
    & p {
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}
