.ktrv-hero {
  position: relative;
  background-image: url("/assets/images/hanson-lu-hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;
  min-height: 680px;
  margin-bottom: 0;
  margin-top: 72px;
  border-radius: 0 !important;
  &::after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: $green-gradient;
  }
  & * {
    position: relative;
    z-index: 1;
  }
  & h1 {
    font-weight: 500;
    margin-bottom: $spacing-xs;
  }
  & .ktrv-subtitle {
    font-weight: 300;
    margin-bottom: $spacing-xs;
    & b {
      font-weight: 500;
    }
  }
  & .ktrv-call {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    & .ktrv-number-wrapper {
      width: 66%;
      border-bottom: 1px solid $orange;
      display: flex;
      justify-content: flex-end;
      & .phone-number {
        font-size: 2rem;
        color: $white;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
    & p {
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}

.ktrv-full-width-image {
  position: absolute;
  left: 0;
  right: 0;
  align-self: center;
  width: 100%;
  opacity: 0.5;
  z-index: 0;
  &-wrapper {
    min-height: 500px;
    border-radius: 0 !important;
    background-color: darken($green, 5%);
  }
  &-content {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .ktrv-hero {
    min-height: calc(100% - 72px);
  }
  .ktrv-full-width-image {
    min-height: 400px;
  }
}
