nav.ktrv-nav {
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
  min-height: 72px;
  width: 100%;
  z-index: 100;
  & a.active {
    color: $orange !important;
  }
  & .ktrv-menu-open {
    display: flex !important;
    flex-direction: column !important;
    animation: fadeIn;
    animation-fill-mode: both;
    animation-duration: 400ms;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
