.ktrv-pricing {
  background-color: $pink;
  & .card {
    transition: 0.2s;
    &.featured h3 {
      color: $orange;
    }
    &:hover {
      transform: translate3d(0, 2px, 0);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  & .alert {
    background-color: rgba($color: #ffffff, $alpha: 0.8);
  }
}

@media (min-width: 991px) {
  .ktrv-pricing .card.featured {
    transform: scale3d(1.075,1.075,1);
  }
}
@media (max-width: 991px) {
  .ktrv-pricing {
    .card-deck {
      flex-direction: column;
    }
  }
}
