$green: #104b41;
$orange: #ffaf3c;
$white: #ffffff;

// Spacing
$spacing-reg: 4rem;
$spacing-small: 2rem;
$spacing-xs: 1.25rem;

$green-gradient: linear-gradient(rgba(#005838, 0.8), rgba(#008857, 0));
